input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select,
input[type="password"] {
  box-sizing: border-box;
  outline: none;

  &:focus {

  }

  &:invalid {
    box-shadow: none;
  }
}

*:focus {
  outline: none;
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label
input[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
}
