@mixin font($font, $size, $height, $weight: normal) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin container {
  margin: 0 auto;
  width: 280px;

  @media #{$break-medium} {
    width: 640px;
  }

  @media #{$break-large} {
    width: 960px;
  }
}
