// Internal variables
$i-color-black:                #000000;
$i-color-navy-blue:            #000080;
$i-color-monza:                #cb0509;
$i-color-tundora:              #434343;
$i-color-mine-shaft:           #383838;
$i-color-mona-lisa:            #ff9c9c;
$i-color-alto:                 #dfdfdf;

// Global variables
$font-family-base:             "Helvetica", "Arial", sans-serif;

$font-color-base:              $i-color-black;
$font-color-title:             $i-color-navy-blue;
$font-color-select:            $i-color-monza;
$font-color-table-label:       $i-color-navy-blue;
$font-color-table-markers:     $i-color-mine-shaft;
$font-color-form:              $i-color-mine-shaft;
$font-color-form-label:        $i-color-black;

$font-size-base: 14px;
$font-size-title:              40px;
$font-size-form:               12px;
$font-size-cite:               10px;
$font-size-table-label:        20px;
$font-size-table-markers:      13px;
$font-size-table-marker-90:    22px;

$line-height-base:             18px;
$line-height-title:            52px;
$line-height-cite:             13px;
$line-height-table-label:      26px;
$line-height-table-markers:    17px;
$line-height-table-marker-90:  28px;

$cell-border-color:            $i-color-tundora;
$cell-disable-border-color:    $i-color-alto;
$cell-fill-color:              $i-color-mona-lisa;
$element-border-color:         $i-color-tundora;
$element-focus-border-color:   $i-color-navy-blue;
$element-invalid-border-color: $i-color-monza;
