.form {
  color: $font-color-form;
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-form;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 7px;
  max-width: 450px;
  width: 100%;

  &__group {
    margin-bottom: 5px;
    text-align: center;

    &--sex {
      display: flex;
      flex-wrap: wrap;
      margin-right: 5px;
      width: 25%;
    }

    &--birthday {
      margin-right: 10px;
      max-width: 100px;
      width: 30%;
    }

    &--country {
      width: 40%;
    }
  }

  &__group-item {
    align-items: center;
    display: flex;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    color: $font-color-form-label;
    display: block;
    font-size: $font-size-base;
    margin-bottom: 3px;
    width: 100%;
  }

  &__radio {
    margin-right: 4px;
    margin-bottom: 2px;
  }

  &__date {
    height: 25px;
    padding-right: 5px;
    text-align: right;
    width: 100%;
  }

  &__select {
    color: $font-color-form;
    height: 25px;
    width: 100%;
  }

  &__cite {
    font-size: $font-size-cite;
    line-height: $line-height-cite;
    text-align: center;
    width: 100%;
  }
}

@media #{$break-large} {
  .form {
    align-items: flex-end;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 30px;
    width: 130px;

    &__group {
      text-align: right;
      margin-bottom: 10px;

      &--sex {
        justify-content: flex-end;
        margin-right: 0;
        width: 45.5%;
      }

      &--birthday {
        margin-right: 0;
        width: 100%;
      }

      &--country {
        width: 100%;
      }
    }

    &__group-item {
      margin-right: 0;
    }

    &__cite {
      text-align: right;
    }
  }
}
