.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  &__title {
    color: $font-color-title;
    font-size: $font-size-title;
    line-height: $line-height-title;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }

  &__select {
    color: $font-color-select;
  }
}
